.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.cards{
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   transition: 0.3s;
   width: 300px;
   border-radius: 10px;
   margin: 2.5em;
 }

 .card:hover {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 }

 .container {
   padding: 2px 16px;
 }

.botton-selecionar{
  text-align: center;
  padding: 15px 100px;
}
