<div class class="container-fluid">
  <div class="row gx-5">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <div class="cards">
        <img src="../../../assets/images/autores1.jpg" alt="Avatar" style="width:100%">
        <h4><b>Autores</b></h4>
        <mat-card-actions >
          <button mat-raised-button color="primary" (click)="onAutores()">Consulte e adicione autores!</button>
        </mat-card-actions>
      </div>
    </div>


    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <div class="cards">
        <img src="../../../assets/images/livros.jpg" alt="Avatar" style="width:100%">
        <h4><b>Livros</b></h4>
        <mat-card-actions >
          <button mat-raised-button color="primary" (click)="onLivros()">Consulte  e adicione livros!</button>
        </mat-card-actions>
      </div>
    </div>


    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <div class="cards">
        <img src="../../../assets/images/generos.jpg" alt="Avatar" style="width:100%">
        <h4><b>Gêneros</b></h4>
        <mat-card-actions >
          <button mat-raised-button color="primary" (click)="onGeneros()">Consulte e adicione gêneros!</button>
        </mat-card-actions>
      </div>
    </div>

    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <div class="cards">
        <img src="../../../assets/images/resenhas.jpg" alt="Avatar" style="width:100%">
        <h4><b>Resenhas</b></h4>
        <mat-card-actions >
          <button mat-raised-button color="primary" (click)="onResenhas()">Consulte e adicione resenhas!</button>
        </mat-card-actions>
      </div>
    </div>
  </div>
</div>
